# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\My Drive\! Projects\# Website Development\3 - Digital Solutions\2021\PHPDevelopment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources.xml
/dataSources/e387428c-752b-4e38-be3b-d45ae858ce46.xml
/dataSources/e387428c-752b-4e38-be3b-d45ae858ce46/storage_v2/_src_/schema/main.uQUzAA.meta
/modules.xml
/PHPDevelopment.iml
/inspectionProfiles/Project_Default.xml
